// Place all the styles related to the mainnote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main_zone{
    margin : 0 auto;
    margin-top:50px;
    margin-bottom:50px;
    width: 90%;
}

.main_title{
    text-align: center;
}

.page_title{
    font-size: 20px;
    text-align: center;
}

#menuber_top{
    text-align: right;
}

#menuber_top li{
    width: 100px;
}


#menuber{
    text-align: center;
}

.menu_text{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

#menuber li{
    width: 100%;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
 
nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    text-decoration: none;
    color: #000;
    font-weight: 700;

}

nav ul li a:hover{
    padding-bottom: 5px;
    border-bottom: solid #38c7ff 2px;
}

.user_icon{
    border-radius: 50%;
    border: 1px solid silver;
    width: 80px;
    height: 80px;
}

.main_border{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding: 30px 0px 0px 0px;
}

.form_size{
    resize: vertical;
    width: 300px;
    height:25px;
}

.button_margin{
    text-align: center;
}

/*ボタンのcss*/
.image_upload{
    text-align: center;
    width: 300px;
    padding: 5px 30px;
    color: #ffffff;
    background-color: #384878;
    cursor: pointer;
}

.image_upload:hover{
    width:300px;
    padding: 5px 30px;
    color: #ffffff;
    background-color: #4a567a;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.main_button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 50px ;
    border-radius: 10px;
    color: #fff;
    background-color : #38c7ff;
    border:2px solid #ffffff
} 

.main_button:hover {
    background-color: #85d7f7;
    border:2px solid #d4d3d3;
  }

  
.like_before{
    color: gray;
    background: transparent;
    border: none;
    font-size: 20px;
}

.like_after{
    color: #38c7ff; 
    background: transparent;
    border: none;
    font-size: 20px;
}

.use_before{
    color: gray;
    background: transparent;
    border: none;
    font-size: 20px;
}
.use_after{
    color: #38c7ff; 
    background: transparent;
    border: none;
    font-size: 20px;
}


/*エラーメッセージのcss*/
.error_massege_text{
    color: #DD0000;
    font-size: 12px;
}

.error_form{
    background-color:#FFDBC9;
    border: 1px solid #DD0000;
    resize: vertical;
    width: 300px;
    height:25px;
}

/*loginページのcss*/

.login_form_area{
    margin-bottom:20px;
    margin: 0 auto;
}

/*registrationのcss*/

.form_background{
    margin: 0 auto;
    background-color: #EEEEEE;
    width:90%;
    margin-bottom: 20px;
    padding:50px 30px;
}
.login_form{
    text-align: center;
}
.login_form_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}

.form_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.form_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.edit_image_form{
    width: 300px;
}

.form_image_view{
    width: 300px;
    height: 180px;
}

.delete_image_button{
    border-radius: 10px;
    width: 150px;
    color: #fff;
    background-color : #202020;
    border:2px solid #ffffff
}

.delete_image_button:hover{
    border-radius: 10px;
    width: 150px;
    color: #000000;
    background-color : #eeeeee;
    border:2px solid #000000;
}

.label_width{
    width:250px;
}

/*topページのcss*/
.main_center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top_contents{
    text-align: center;
    width: 250px; 
    margin: 10px; 
    padding: 10px;
    border:1px solid silver;
}

.top_content_image{
    width: 200px;
    height: 120px;
    border: black;
    border: 1px solid silver;
}

.top_user_icon{
    border-radius: 50%;
    border: 1px solid silver;
    width: 30px;
    height: 30px;
}

.paginate{
    clear: both;
    text-align: center;
}
/*何回も使いそう*/


/*showページのcss*/
.show_zone{
    margin: 0 auto;
    width: 90%;
}
.show_top_contents{
    margin: 0 auto;
    display: flex;
    width: 50%;
    justify-content:  space-around;
}

.show_user_contents{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.show_content_image{
    width: 330px;
    height: 230px;
    margin: 5px;
    border: black;
    border: 1px solid #030303;
}
.show_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.show_content_text{
    margin: 0 auto;
    overflow-wrap: break-word;
}

.show_label{
    padding: 10px;
    background-color: #eeeeee;
}

.show_category{
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    padding: 20px 40px;
    width: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.show_content_category{
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.show_category_label{
    width:200px;
}

.show_category_text{
    width:300px;
    word-wrap:break-word;
}


/*usershowのcss*/
.usershow_user_area{
    margin: 20px;
    width: 150px;
    text-align: center;
}

.usershowpg_area{
    width: 75%;
    margin: 0 auto;
}

/*userpgのcss*/
.userpg_userarea{
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    padding: 20px 40px;
    width: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.userpg_usercategory{
    text-align:center
}

.userpg_edit_button{
    text-align: center;
}

.userpg_user_category{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display:flex;
    align-items: center;
}

.userpg_user_icon{
    border-radius: 50%;
    border: 1px solid silver;
    width: 200px;
    height: 200px;
}

.userpg_user_name{
    font-size: 20px;
}

.userpg_category{
    padding: 10px;
    background-color: #eeeeee;
}

.userpg_category_label{
    width:50px;
}

.userpg_category_text{
    width:80%;
    word-wrap:break-word;
}

.rank_contents{
    margin: 0 auto;
    text-align: center;
}

.userpg_rank{
    width:40%;
}

.userpg_pointbar{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content:  space-around;
}


/*aboutページのcss*/
.about_top_image{
    width: 80%;
    margin-bottom: 20px;
}

.text_center{
    text-align: center;
}

.about_images{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.about_image{
    margin:5px;
    width:300px;
    height:150px;
}

.about_bottom_image{
    width: 80%;
    margin-bottom: 20px;
}

.about_contents_area{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*commentのcss*/
.comment_background{
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
}

.comment_userarea{
    margin: 0 auto;
    width:150px;
    text-align:center;
}

.comment_text{
    margin: 0 auto;
    width:300px;
    padding: 5px;
    word-wrap:break-word;
}

.comment_delete{
    margin: 0 auto;
    width:120px;
}
.comment_form{
    background-color: #EEEEEE;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.comment_textarea{
    resize: vertical;
    width: 100%;
    height:100px;   
}